{% extends "base.html" %}
{% block content %}

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Account Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#ProductSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
                <ul class="collapse list-unstyled" id="ProductSubMenu">
                    <li>
                        <a href="#">Orders</a>
                    </li>
                    <li>
                        <a href="#">Shopping Cart</a>
                    </li>
                    <li>
                        <a href="#">Wish List</a>
                    </li>
                    <li>
                        <a href="{{ url_for('account_menu.purchases') }}">My Purchases</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{ url_for('account_menu.account_details') }}">Account details</a>
                    </li>
                    <li>
                        <a href="{{ url_for('account_menu.addresses') }}">Addresses</a>
                    </li>
                    <li>
                        <a href="{{ url_for('account_menu.security') }}">Security</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Delete Account</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="container" id="settings_box">
            {% block menu_content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock content %}