@font-face{
    font-family: poet;
    font-weight: bold;
    src: url('fonts/PoetsenOne-Regular.ttf')
}

.carousel-inner img{
    width:640px;
    height:540px;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%)
}

.logo{
    display: block;
    width:75px;
    height:75px;
}

#front-page-img{
    width:640px;
    height:500px;
}

.navbar-custom{
    background-color: #ffffff;
    height:75px
}

.nav-link{
    font-family: poet;
    color: black;
    transform: translateY(50%)
}

.navbar-brand{
    color: black;
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: poet;
    font-size: larger;
    color: black;
}

h2{
    font-family: poet;
    font-size: 100px;
}